.title {
    padding-top: 20%;
}

.all {
    margin:0 auto;
    width : 25%;
}

.container {
    width: 100%;
    align-items: center;
}

.button {
    background-color: #A66CFF;
}

.TodoList li.on em 
{color: rgb(199, 197, 197); text-decoration: line-through rgb(159, 127, 231);}

.TodoList li button 
{float: right; border: none; color: rgb(148, 181, 230); }